{% extends 'books/base.html' %}
{% load static %}

{% block content %}
<h1>{{title}}</h1>
<p class="welcome-description">
    LibraIO - это онлайн-магазин книг, который предлагает огромный выбор книг в разных жанрах и направлениях. 
    Здесь вы можете найти как классические произведения мировой литературы, так и новинки от современных авторов. 
    Кроме того, на LibraIO вы можете заказать доставку книг по всему миру и получить книги в удобное для вас время. 
    Сайт также предоставляет множество возможностей для удобного поиска и выбора книг, а также предоставляет возможности добавления и запросов на удаление книг. 
    LibraIO - это идеальное место для всех, кто любит чтение и хочет найти новые интересные книги.
</p>
<img class="welcome-img" src="{% static 'books/img/86a69ff6a265784b6e2535bdc29e23ff.webp' %}" alt="">
{% endblock %}
